@model IEnumerable<Ecommerce.Web.Model.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
@if (Model != null)
{<table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ProductDetail", new { productId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

    <h4>No Product found</h4>
}

